var Users = React.createClass({
	
  render: function() {
		users = this.props.users.map( function(user) {
      return (
        <User user={user} key={user.id} />
        );
    } );
    return(
			<table className="table table-condensed">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {users}
        </tbody>
      </table>
			);
	}
});